/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  background-color: #1b1b1b;
  color: #ffffff;

  /* farve variabler */
  --gold: #f5dc0f;
  --red: #e63946;
  --green: #306834;

  /* font */
  --font-family: "League Spartan", sans-serif;
  --font-weight: 800;
  --letter-spacing: 4px;
  --text-transform: uppercase;
}
