.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 48px;
}

.link {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 24px;
  transition: 0.5s;
  margin-top: 40px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-transform);
}

.link:hover,
.link.active {
  background-color: var(--gold);
}
